/* Custom Styles */
header {
    background: linear-gradient(to right, #6a11cb, #2575fc);
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .portfolio-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  
  .bg-dark-mode {
    background-color: #121212 !important;
    color: #ffffff !important;
  }
  
  .navbar-dark-mode {
    background-color: #333333 !important;
  }
  
  .btn-dark-mode {
    background-color: #444444 !important;
    color: #ffffff !important;
  }
  
  .footer-dark-mode {
    background-color: #222222 !important;
  }
  